@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --page-blue: #158EE2;
    --page-white: #FFFFFF;
    --page-gray: #626265;
    --page-footer-blue: #101C37;
    --page-stars-gray: #CCCCCC;
    --page-stars-gold: #F69D40;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

header {
  border-radius: 0px 0px 300px 300px / 0px 0px 100px 100px;
  /* background-image: url(./assets/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover; */
}

header .home-background-img {
  border-radius: 0px 0px 300px 300px / 0px 0px 100px 100px;
}

.card {
  box-shadow: 3px 7px 31px -13px rgba(0,0,0,0.75);
}

footer {
  border-radius: 200px 200px 0px 0px / 70px 70px 0px 0px;
}