@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'montserrat';
  width: 100%;
}

body {
  width: 100%;
}

header {
  border-radius: 0px 0px 300px 300px / 0px 0px 100px 100px;
  background-image: url(./assets/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  box-shadow: 3px 7px 31px -13px rgba(0,0,0,0.75);
}
