@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'montserrat';
  width: 100%;
}

body {
  width: 100%;
}

header {
  background-image: url(./assets/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
